/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap");
/*VARIABLES*/
/*font syntax
    'Roboto', sans-serif;
    'Caveat', cursive;

    'Permanent Marker', cursive;
    'Ubuntu', sans-serif;
    'Ubuntu Condensed', sans-serif;
*/
/* NAV MENU */
nav {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1f;
  grid-template-rows: auto;
  grid-template-areas: "main-nav . game-info-nav";
  z-index: 4;
  position: fixed;
  left: 0;
  width: 100vw;
  height: auto;
  text-align: left;
  padding: 0 0 0 5px;
}
nav .nav-button-container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin: 10px;
}
nav #nav-main-buttons {
  grid-area: main-nav;
}
nav #nav-game-info {
  grid-area: game-info-nav;
}
nav #navButton {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1rem;
  padding: 0;
  height: 40px;
  width: 7vw;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: 0px solid white;
}
nav #navButton:hover {
  transition-duration: 0.25s;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1.1);
  border: 2px solid white;
}

/* SIDEBAR MENU */
#buttonToggleSidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 2vw;
  font-size: 1rem;
  height: 40px;
  width: 180px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0px solid rgb(255, 255, 255);
  transition: 0.25s;
}
#buttonToggleSidebar:hover {
  border: 2px solid rgb(66, 172, 254);
  color: rgb(66, 172, 254);
}

.sidebar {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 25, 25, 0.55);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /* total aimation time */
}
.sidebar h1 {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  width: 88%;
  text-align: center;
}
.sidebar p {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  padding: 20px;
}
.sidebar .sidebarFooter {
  border: 2px solid red;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding-top: 0;
  font-size: 15px;
  text-align: right;
  width: 95%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "social . .";
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100vw;
  height: 7vh;
  z-index: 4;
  margin-left: 10px;
}
footer .footerInfoContainer {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
footer .footerInfoContainer p {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
footer .footerSocialContainer {
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
footer .footerSocialContainer p {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
footer .footerSocialContainer button {
  border: 0;
  outline: 0;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  width: 40px;
  margin: 2px 0.5em;
}
footer .footerSocialContainer button:hover {
  transition-duration: 0.25s;
  color: rgb(66, 172, 254);
  transform: skewY(-15deg);
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 900px) {
  nav {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  nav #navButton {
    height: auto;
    margin: 5px;
    font-size: 15px;
    width: 80px;
    border-radius: 7px;
  }
  #buttonToggleSidebar {
    transform: rotate(90deg);
    font-size: 15px;
    top: 75vh;
    right: -80.5px;
    border-radius: 0px 0px 20px 20px;
  }
  .sidebar {
    top: 0;
    height: 100vh;
  }
  .sidebar h1 {
    text-align: left;
    font-size: 23px;
  }
  .sidebar p {
    font-size: 15px;
    line-height: 25px;
  }
}/*# sourceMappingURL=navigation.css.map */