

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap');
//ANIMATIONS//
@keyframes intro-animSlide {//brings in gallery imgs
    100%{
        margin: 0 0%;
    }
}
@keyframes intro-animFade {//logo and article fade
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes intro-animOpacity {//used for img overlays on img gallery
    from{
        opacity: 0;
    }to{
        opacity: 0.15;
    }
}
@keyframes intro-animDuelFade {//intial text fade in/out
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }100%{
        display: no;
    }
}
//VARIABLES//
$titleFont: 'Permanent Marker', cursive;
$mainFont: 'Ubuntu', sans-serif;
$condensedFont: 'Ubuntu Condensed', sans-serif;
$fontColor: rgba(255, 255, 255, 1);

$colorMain: rgba(27, 25, 25, 0.55);
$buttonColor: rgba(0, 0, 0, 0.9);
$colorSeccondary: rgba(255, 255, 255, 1);
$accent: rgba(252, 177, 38, 0.8);


.intro-container{
    position:fixed;
    top: 0;
    left: 0;
    z-index: -100;
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .intro-article{
        //position: fixed;
        grid-area: main;

        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100vh;
        width: 100vw;

        img{ /*main logo*/
            z-index: -6;
            margin-top: 38vh;
            height: auto;
            width: 42%;
        }
        h5{
            opacity: 0;
            animation: intro-animDuelFade 2s linear 0s 1 normal forwards;
            z-index: -11;
            font-family: $condensedFont;
            font-size: 3vh;
            color: $fontColor;
        }
    }
}

.galleryContainer{
    z-index: -10;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "top"
            "mid1"
            "mid2"
            "low";
    row-gap: 0px;
    column-gap: 0px;

    height: 100vh;

    .row{
        display: grid;
        grid-template-areas:
                "left center right";
        grid-template-columns: auto;
        grid-template-rows: 1fr;

        height: 100%;
        width: 100%;

        row-gap: 0px;
        column-gap: 0px;

        .overlay{
            z-index: -5;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        .overlayFull{
            z-index: -5;
            background-color: rgb(0, 0, 0);
            opacity: 0.17;
            width: 100%;
            height: 100%;
        }

        img{
            z-index: -10;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .img-0pan{
        object-position: 0%;
    }
    .img-100pan{
        object-position: 100%;
    }
}

 /* --- RESPONSIVE DESIGN --- */
 /* --- MOBILE SPECIFIC --- */
@media only screen and (max-width: 900px){
    //LANDSCAPE STUFF//
    @media only screen and (orientation: landscape) {
        #gameLogo{
            margin-top: 15;
            height: auto;
            width: 20%;
        }
        .intro-container{
            overflow: visible;
        }
        .galleryContainer{
            scroll-snap-align: center;
            #top{
                height: 100vh;
            }
            #mid1{
                display: none;
            }
            #mid2{
                display: none;
            }
            #low{
                display: none;
            }
            #full{
                scroll-snap-align: center;
                display: grid;
                height:100vh;
            }
        }
    }

    //AMIMATION CONFIG//
    #gameLogo{
        opacity: 0;
        animation: intro-animFade 0.5s linear 3.5s 1 normal forwards;
    }
    .overlay{
        animation: intro-animOpacity 0.5s linear 3.2s 1 normal forwards;
    }

    #top img{
        margin: 0px 100%;
        animation: intro-animSlide 0.5s linear 1.5s 1 normal forwards;
    }
    #mid1 img{
        margin: 0px 100%;
        animation: intro-animSlide 0.5s linear 1.75s 1 normal forwards;
    }
    #mid2 img{
        margin: 0px 100%;
        animation: intro-animSlide 0.5s linear 2s 1 normal forwards;
    }
    #low img{
        margin: 0px 100%;
        animation: intro-animSlide 0.5s linear 2.25s 1 normal forwards;
    }

    /* IDs ROWS */
    #top {
        grid-area: top;
    }
    #mid1{
        grid-area: mid1;
    }
    #mid2{
        grid-area: mid2
    }
    #low{
        grid-area: low;
    }
    #full{
        //full images are not displayed on mobile
        display: none;        
    }
    /* IDs IMGs*/
    #row-left{
        grid-area: left;
    }
    #row-center{
        display: none;
        grid-area: center;
    }
    #row-right{
        display: none;
        grid-area: right;
    }
}

/* --- DESKTOP/PC/Large Tablet --- */
 @media only screen and (min-width: 900px){
    .intro-container{
        overflow: visible;
        display: grid;
        grid-template-areas: "main";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: auto;
        height: auto;
    }

    .galleryContainer{
        overflow: visible;
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 33.5% 33.5% 33.5% auto;
        grid-template-areas: 
                "top"
                "mid1"
                "mid2"
                "low";
        row-gap: 0px;
        column-gap: 0px;
    
        height: 100vh;
        width: 100vw;
        
        scroll-snap-align: center;
    }
    //AMIMATION CONFIG//
    .intro-article{
        h5{
            position: absolute;
        }
    }
    #gameLogo{
        height: auto;
        width: 30vh;
        opacity: 0;
        animation: intro-animFade 0.6s linear 3.5s 1 normal forwards;
    }
    .overlay{
       animation: intro-animOpacity 0.6s linear 3.2s 1 normal forwards;
    }
    #top img{
        margin: 0px 300%;
        animation: intro-animSlide 0.6s linear 1.5s 1 normal forwards;
    }
    #mid1 img{
        margin: 0px 300%;
        animation: intro-animSlide 0.6s linear 1.75s 1 normal forwards;
    }
    #mid2 img{
        margin: 0px 300%;
        animation: intro-animSlide 0.6s linear 2s 1 normal forwards;
    }
    .intro-container{
        display: grid;
        grid-template-areas: "main";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    
        width: 100%;
        height: 100%;
    
        .intro-article{
            grid-area: main;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            img{ /*main logo*/
                margin-bottom: 12vh;
                width: 17%;
            }
        }
    }
    /* IDs ROWS */
    #top {
        grid-area: top;
        }
    #mid1{
        grid-area: mid1;
    }
    #mid2{
        grid-area: mid2
    }
    #low{
        display: none;
    }
    #full{
        scroll-snap-align: center;
        height:100vh;
        width:100vw;
    }
    /* IDs IMGs*/
    #row-left{
        grid-area: left;
    }
    #row-center{
        display: inline;
        grid-area: center;
    }
    #row-right{
        display: inline;
        grid-area: right;
    }

}